<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Your Order</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <h2 class="text-secondary text-center">Review Your Order</h2>
                <div class="table-responsive">
                    <table class="table table-secondary">
                        <thead>
                            <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Item Quantity</th>
                                <th scope="col">Unit Cost</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of myOrder?.orderItems; index as i">
                                <td>{{item.dish?.dishName}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.dish?.cost}}</td>
                                <td><button *ngIf="item.quantity != null" class="btn btn-secondary btn-sm" (click)="deleteItem(i)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center text-secondary">
                        Total Price ${{total}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 order-md-1 mx-auto">
                <h4 class="mb-3">Address</h4>
                <form [formGroup]="orderFormGroup">
                    <div class="row justify-content-center">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" [formControl]="orderFormGroup.controls.firstName">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" [formControl]="orderFormGroup.controls.lastName">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" [formControl]="orderFormGroup.controls.address">
                    </div>
                    <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>
                     <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" [formControl]="orderFormGroup.controls.city">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="form-select d-block w-100" id="state" [formControl]="orderFormGroup.controls.state">
                                <option value="">Choose...</option>
                                <option *ngFor="let state of states" [ngValue]="state.name">{{state.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" [formControl]="orderFormGroup.controls.zip">
                        </div>
                    </div>
                    <h4 class="mb-3">Payment</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" [formControl]="orderFormGroup.controls.nameOnCard">
                            <small class="text-muted">Full name as displayed on card</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" [formControl]="orderFormGroup.controls.creditCardNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" [formControl]="orderFormGroup.controls.expiration">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" [formControl]="orderFormGroup.controls.cvv">
                        </div> 
                    </div>  
                    <hr class="mb-4">
                    <div class="text-center">
                        <button class="btn btn-secondary btn-lg" type="submit" [disabled]="orderFormGroup.invalid" (click)="placeOrder()">Checkout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>