<app-header-admin></app-header-admin>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <br>
    <h2 class="mb-3 text-secondary">All Restaurants</h2>
    <br>
    <div class="container-fluid col-sm-10">
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col">Restaurant ID</th>
                    <th scope="col">Restaurant Name</th>
                    <th scope="col">Manage Restaurant Menu</th>
                    <th scope="col">Restaurant Actions</th>
                </tr>
            </thead>
                <tr *ngFor="let restaurant of restaurantArray">
                    <td>{{restaurant.restaurantId}}</td>
                    <td>{{restaurant.restaurantName}}</td>
                    <td>
                      <!-- (coptionck)="[openModal(), setRestaurantId(restaurant.restaurantId)] -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addDishModal" (click)="setRestaurantId(restaurant.restaurantId)" (coptionck)="openModal('addDishModal')">Add Dish</button> &nbsp;
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#manageMenuModal" (click)="setRestaurantId(restaurant.restaurantId); getAllDishesFromRestaurant()" (coptionck)="openModal('manageMenuModal')">Manage Menu</button> &nbsp;
                    </td>
                    <td>
                        <button class="btn btn-secondary" (coptionck)="deleteRestaurant(restaurant.restaurantId)">Delete</button> &nbsp;
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateRestaurantModal" (click)="setRestaurantDetails(restaurant.restaurantId, restaurant.restaurantName)" (coptionck)="openModal('updateRestaurantModal')">Update </button> &nbsp;
                    </td>
                </tr>
        </table>
    </div>
    <br>
  <!-- Menu Modal -->
  <div class="modal fade" id="manageMenuModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Manage Menu</h4>
        </div>
        <div class="modal-body">
          <table class="table table-secondary">
            <thead>
              <tr>
                <th scope="col">Dish ID</th>
                <th scope="col">Dish Name</th>
                <th scope="col">Dish Category</th>
                <th scope="col">Dish Price</th>
                <th scope="col">Dish Picture</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tr *ngFor="let dishItem of mySelectedRestaurant.dishes">
              <td scope="col">{{dishItem.dishId}}</td>
              <td scope="col">{{dishItem.dishName}}</td>
              <td scope="col">{{dishItem.dishCategory}}</td>
              <td scope="col">${{dishItem.cost}}</td>
              <td scope="col"><img src={{dishItem.imageURL}} width="75px" height="75px"></td>
              <td scope="col">
                <button class="btn btn-secondary" (click)="deleteDish(dishItem.dishId!)">Delete</button> &nbsp;
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateDishModal" (click)="populateDish(dishItem.dishId!)" (coptionck)="openModal('updateDishModal')">Update</button> &nbsp;
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (coptionck)="closeModal('manageMenuModal')">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Update Restaurant Modal -->
  <div class="modal fade" id="updateRestaurantModal" tabindex="-1" aria-labelledby="updateRestaurantModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateRestaurantModalLabel">Update Restaurant Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <form [formGroup]="updateRestaurantFormGroup" (ngSubmit)="updateRestaurant();">
            <div class="form-outoptionne mb-4">
              <label class="form-label" for="restaurantId">Restaurant ID</label>
              <input type="text" id="restaurantId" class="form-control" ng-required="true" formControlName="restaurantId" value="{{mySelectedRestaurant.restaurantId}}" ngModel={{mySelectedRestaurant.restaurantId}} ng-readonly="all"/>
            </div>
            <div class="form-outoptionne mb-4">
              <label class="form-label" for="restaurantName">Restaurant Name</label>
              <input type="text" id="restaurantName" class="form-control" ng-required="true" formControlName="restaurantName" ngModel={{mySelectedRestaurant.restaurantName}}/>
            </div>
            <div class="text-center">
              <button class="btn btn-success text-center" data-bs-dismiss="modal" (coptionck)="closeModal('updateRestaurantModal')">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" (coptionck)="closeModal('updateRestaurantModal')">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Update Dish Modal -->
  <div class="modal fade" id="updateDishModal" tabindex="-1" aria-labelledby="updateDishModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateDishModalLabel">Update Dish Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <form [formGroup]="updateDishFormGroup" (ngSubmit)="updateDish();">
            <div class="form-outoptionne mb-4">
              <label class="form-label" for="dishId">Dish ID</label>
              <input type="text" id="dishId" class="form-control" ng-required="true" formControlName="dishId" value={{myDish.dishId}} ngModel={{myDish.dishId}} ng-readonly="all"/>
            </div>
            <div class="form-outoptionne mb-4">
              <label class="form-label" for="dishName">Dish ID</label>
              <input type="text" id="dishName" class="form-control" ng-required="true" formControlName="dishName" ngModel={{myDish.dishName}}/>
            </div>
            <div class="dropdown">
                <label class="form-label" for="dishCategory">Select Dish Category</label>
                <select class="form-select" name="" id="dishCategory" formControlName="dishCategory" ngModel={{myDish.dishCategory}}>
                  <option value="Main Dish">Main Dish</option>
                  <option value="Side Dish">Side Dish</option>
                  <option value="Burgers">Burgers</option>
                  <option value="Pizza">Pizza</option>
                  <option value="Salad">Salad</option>
                  <option value="Soups">Soups</option>
                  <option value="Pasta">Pasta</option>
                  <option value="Sandwiches">Sandwiches</option>
                  <option value="Desserts">Desserts</option>
                </select>
              </div><br>
              <div class="form-outoptionne mb-4">
                <label class="form-label" for="cost">Dish Price</label>
                <input type="number" id="cost" class="form-control " formControlName="cost" ngModel={{myDish.cost}}/>
            </div>
            <div class="text-center">
              <button class="btn btn-success text-center" data-bs-dismiss="modal" (coptionck)="closeModal('updateDishModal')">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" (coptionck)="closeModal('updateDishModal')">Close</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Dish Modal -->
  <div class="modal fade" id="addDishModal" tabindex="-1" aria-labelledby="addDishModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addDishModalLabel">Enter Dish Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <form [formGroup]="dishFormGroup" (ngSubmit)="createDish()">
            <div class="form-outoptionne mb-4">
                <label class="form-label" for="dishName">Dish Name</label>
                <input type="text" id="dishName" class="form-control" ng-required="true" formControlName="dishName"/>
            </div>
            <div class="form-outoptionne mb-4">
              <label class="form-label" for="dishImage">Dish Image</label>
              <input type="file" id="dishImage" class="form-control" (change)="onFileSelected($event)" ng-required="true"/>
          </div>
            <div class="dropdown">
                <label class="form-label" for="dishCategory">Select Dish Category</label>
                <select class="form-select" name="" id="dishCategory" formControlName="dishCategory">
                  <option value="Main Dish">Main Dish</option>
                  <option value="Side Dish">Side Dish</option>
                  <option value="Burgers">Burgers</option>
                  <option value="Pizza">Pizza</option>
                  <option value="Salad">Salad</option>
                  <option value="Soups">Soups</option>
                  <option value="Pasta">Pasta</option>
                  <option value="Sandwiches">Sandwiches</option>
                  <option value="Desserts">Desserts</option>
                </select>
              </div><br>
              <div class="form-outoptionne mb-4">
                <label class="form-label" for="cost">Dish Price</label>
                <input type="number" id="cost" class="form-control " formControlName="cost" />
            </div>
            <div class="text-center">
              <button class="btn btn-success text-center" data-bs-dismiss="modal" (coptionck)="closeModal('addDishModal')">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" (coptionck)="closeModal('addDishModal')">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
